secrets:
  api_env:
    file: devops/api/.env.production
  redis_env:
    file: .env.redis
  postgres_password:
    file: devops/postgres/.password
  postgres_user:
    file: devops/postgres/.user

services:
  api:
    build:
      dockerfile: Dockerfile
      context: api/
    secrets:
      - api_env
    environment:
      DJANGO_ENV_FILE: /run/secrets/api_env
    volumes:
      - static_data:/app/src/etherbeing/static
      - media_data:/app/src/etherbeing/media
    ports:
      - 127.0.0.1:7000:8000
    depends_on:
      - postgres
      - redis
  redis:
    # 6379
    image: redis:latest
    secrets:
      - redis_env
    volumes:
      - redis_data:/data
  postgres:
    # 5432
    image: postgres:latest
    secrets:
      - postgres_user
      - postgres_password
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
      - POSTGRES_USER_FILE=/run/secrets/postgres_user
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  media_data:
  static_data:
  redis_data:
