@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@tailwind utilities;

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 1s ease-out;
}

h2 {
  cursor: default;
  user-select: none;
}

.dark {
  --background: transparent;
}

@keyframes shine {
  0% {
    background-position: 100%
  }

  100% {
    background-position: -100%
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
}

.animate-star-movement-top {
  animation: star-movement-top linear infinite alternate;

}

.animate-star-movement-bottom {
  animation: star-movement-bottom linear infinite alternate;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1
  }

  100% {
    transform: translate(-100%, 0%);
    opacity: 0
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1
  }

  100% {
    transform: translate(100%, 0%);
    opacity: 0
  }
}