<html lang="en">
    <head>
        <title>Generating PDF...</title>
    </head>
    <body class="invisible">
        <div id="content" style="padding: 5px 10px;"></div>

        <script>
            import html2pdf from "html2pdf.js";
            const cv = document.querySelector<HTMLDivElement>("#content");
            fetch("https://etherbeing.github.io/etherbeing/").then(
                async (res) => {
                    const data = await res.text();
                    cv.setHTMLUnsafe(data);

                    const opt = {
                        margin: 0.5,
                        filename: "etherbeing_cv.pdf",
                        image: { type: "jpeg", quality: 0.98 },
                        html2canvas: { scale: 2 },
                        jsPDF: {
                            unit: "in",
                            format: "letter",
                            orientation: "portrait",
                        },
                    };
                    html2pdf()
                        .set(opt)
                        .from(cv)
                        .save()
                        .then(() => {
                            history.back();
                        })
                        .catch(() => {
                            alert(
                                "An error occurred while trying to render the page",
                            );
                        });
                },
            );
        </script>
    </body>
</html>
