<html lang="en">
    <head>
        <title>Generating PDF...</title>
    </head>
    <body class="invisible">
        <div id="content" style="padding: 5px 10px;"></div>

        <script>
            import html2pdf from "html2pdf.js";
            const targetURL = "https://etherbeing.github.io/etherbeing/";
            fetch(targetURL)
                .then((res) => res.text())
                .then((html) => {
                    document.querySelector("#content").innerHTML = html;
                    html2pdf()
                        .from(document.querySelector("#content"))
                        .save("CV.pdf");
                    setTimeout(() => {
                        window.location.assign("/");
                    }, 300);
                });
        </script>
    </body>
</html>
