---
import DecryptedText from "./react/DecryptedText";
import SpotlightCard from "./react/SpotlightCard";
---

<section class="py-20 space-y-4">
    <h2 class="text-center text-3xl font-bold text-green-400 animate-fade-up">
        About
    </h2>

    <SpotlightCard client:only="react" className="text-justify select-none cursor-default">
        I am Esteban Chacon Martin, a person driven by purpose, growth, and compassion, striving to improve both myself and the world around me. 
        My values are rooted in liberal humanism, emphasizing individual freedom, dignity, and responsibility, with the belief that no one's 
        rights extend to harming another. I believe in God and study the teachings of Buddha, seeking to live in harmony with all forms of life 
        and recognizing the interdependence of existence. I am deeply committed to learning and self-development, with interests spanning 
        philosophy, culture, politics, and technology, and I continually challenge my reasoning and analytical abilities with the goal of 
        contributing meaningfully to society and engaging with high-level intellectual communities.
    </SpotlightCard>
</section>
