---
const URL = "https://api.github.com/users/etherbeing/gists?per_page=15";
let posts: Array<{
    html_url: string;
    description: string;
    created_at: string;
}> = await fetch(URL).then(async (response) => {
    return await response.json();
});
let justification: "justify-between" | "justify-center" = "justify-between";
if (posts.length % 3 === 1) {
    justification = "justify-center";
}
---

<section class="py-20 space-y-4">
    <h2 class="text-3xl font-bold text-green-400">Blog</h2>
    <!-- Fetch the data from the github gists and for each gists show here a link card to the gists, perhaps we want to display at most 20 gists here? the most relevant ones-->
    <div class={`flex flex-row gap-3 flex-wrap ${justification}`}>
        {
            posts.map((post) => {
                return (
                    <a href={post["html_url"]} target="_blank">
                        <div style="background-image: url(https://picsum.photos/200);" class=" bg-cover flex flex-col justify-between shadow hover:shadow-2xl cursor-pointer w-[250px] aspect-square p-4 rounded-lg bg-gray-800 hover:bg-gray-700 transition">
                            <span class="w-full flex justify-start">
                                {new Date(post["created_at"]).toDateString()}
                            </span>
                            <span class="w-full flex justify-end">
                                {post["description"]}
                            </span>
                        </div>
                    </a>
                );
            })
        }
    </div>
</section>
