<section class="py-20 space-y-4">
    <h2 class="text-3xl font-bold text-green-400">Contact</h2>
    You can contact me anytime I'll reach back to you as soon as possible, you can
    contact me either for a job proposal, a research cooperation idea, or a project
    you have in mind. All the information received by me from you is unless expressed
    by you otherwise private and won't be released no matter what.
    <br />
    <br />
    <ul class="flex justify-end gap-1">
        <li><a href="https://github.com/etherbeing">Github</a></li>
        <li><a href="https://x.com/etherbeing_real">Twitter</a></li>
        <li><a href="https://t.me/etherbeing">Telegram</a></li>
        <li><a href="https://github.com/etherbeing">Instagram</a></li>
        <li><a href="https://reddit.com/etherbeing">Reddit</a></li>
        <li><a href="mailto:etherbeing99@proton.me">Email</a></li>
    </ul>
</section>
