---
import { Icon } from "astro-icon/components";
---

<section class="py-20 space-y-4 cursor-default select-none text-justify">
    <h2 class="text-center text-3xl font-bold text-green-400">Contact</h2>
    You can contact me anytime I'll reach back to you as soon as possible, you can
    contact me either for a job proposal, a research cooperation idea, or a project
    you have in mind. All the information received by me from you is unless expressed
    by you otherwise private and won't be released no matter what.
    <br />
    <br />
    <div class="flex flex-col items-start gap-5">
        <!-- Social networks -->
        <div class="flex flex-col gap-2 w-fit">
            <b class="w-full">Social Networks </b>
            <ul class="flex gap-2 flex-wrap">
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://github.com/etherbeing"
                        ><Icon name="simple-icons:github" /> Github</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://x.com/etherbeing_real"
                        ><Icon name="simple-icons:x" />X(Twitter)</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://t.me/etherbeing"
                        ><Icon name="simple-icons:telegram" />Telegram</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://www.instagram.com/real_etherbeing/"
                        ><Icon name="simple-icons:instagram" />Instagram</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://www.reddit.com/user/real_etherbeing/"
                        ><Icon name="simple-icons:reddit" />Reddit</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="mailto:etherbeing99@proton.me"
                        ><Icon name="simple-icons:proton" />Email</a
                    >
                </li>
            </ul>
        </div>
        <!-- Cybersecurity Profiles -->
        <div class="flex flex-col gap-2 w-fit">
            <b class="w-full">Cybersecurity Profiles </b>
            <ul class="flex gap-2">
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://hackerone.com/real_etherbeing?type=user"
                        ><Icon name="simple-icons:hackerone" /> HackerOne</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://bugcrowd.com/h/etherbeing99"
                    >
                        <Icon name="simple-icons:bugcrowd" /> Bugcrowd</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://tryhackme.com/p/etherbeing"
                    >
                        <Icon name="simple-icons:tryhackme" /> TryHackMe</a
                    >
                </li>
            </ul>
        </div>
        <!-- Communities -->

        <div class="flex flex-col gap-2 w-fit">
            <b class="w-full">Communities </b>
            <ul class="flex gap-2">
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://t.me/etherbeing_community"
                        ><Icon name="simple-icons:telegram" />Telegram Community</a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        class="flex gap-1 items-center"
                        href="https://discord.gg/rP66FwWTP"
                        ><Icon name="simple-icons:discord" />Discord Community</a
                    >
                </li>
            </ul>
        </div>
    </div>
</section>
