---
import { Icon } from "astro-icon/components";
---

<section class="py-20 space-y-4">
    <h2 class="text-3xl font-bold text-green-400">Contact</h2>
    You can contact me anytime I'll reach back to you as soon as possible, you can
    contact me either for a job proposal, a research cooperation idea, or a project
    you have in mind. All the information received by me from you is unless expressed
    by you otherwise private and won't be released no matter what.
    <br />
    <br />
    <ul class="flex justify-end gap-2">
        <li>
            <a
                class="flex gap-1 items-center"
                href="https://github.com/etherbeing"
                ><Icon name="simple-icons:github" /> Github</a
            >
        </li>
        <li>
            <a
                class="flex gap-1 items-center"
                href="https://x.com/etherbeing_real"
                ><Icon name="simple-icons:x" />X(Twitter)</a
            >
        </li>
        <li>
            <a class="flex gap-1 items-center" href="https://t.me/etherbeing"
                ><Icon name="simple-icons:telegram" />Telegram</a
            >
        </li>
        <li>
            <a
                class="flex gap-1 items-center"
                href="https://www.instagram.com/real_etherbeing/"
                ><Icon name="simple-icons:instagram" />Instagram</a
            >
        </li>
        <li>
            <a
                class="flex gap-1 items-center"
                href="https://www.reddit.com/user/real_etherbeing/"
                ><Icon name="simple-icons:reddit" />Reddit</a
            >
        </li>
        <li>
            <a
                class="flex gap-1 items-center"
                href="mailto:etherbeing99@proton.me"
                ><Icon name="simple-icons:proton" />Email</a
            >
        </li>
    </ul>
</section>
