---
import "../styles/global.css";
---

<html lang="en" class="bg-gray-950 text-gray-200 font-sans">
    <head>
        <meta charset="utf-8" />
        <title>etherbeing</title>
        <link rel="icon" href="/favicon.png" />
    </head>
    <body class="max-w-4xl mx-auto">
        <slot />
    </body>
</html>
