---
import { Icon } from "astro-icon/components";
import DecryptedText from "./react/DecryptedText";
import GlowingHeader from "./react/GlowingHeader";
import SpotlightCard from "./react/SpotlightCard";
import GlowingText from "./react/GlowingText";
const services: Array<{
    starting_price: number;
    title: string;
    description: string;
    skills: Array<string>;
}> = [
    {
        title: "Frontend Web Development",
        starting_price: 50,
        description: "Turn your ideas into a human made ready to use product",
        skills: ["React JS/TS", "Svelte JS/TS", "Astro JS/TS", "Others"],
    },
    {
        title: "Backend API Development",
        starting_price: 50,
        description: "Makes your data available where you need it",
        skills: ["OWASP", "SQL", "Django", "Actix web", "Others"],
    },
    {
        title: "DevOps",
        starting_price: 75,
        description: "Automate and deliver, quickly quickly",
        skills: ["Docker", "K8S", "S3", "Keycloak", "DFS", "Others"],
    },
    {
        title: "Pentesting",
        starting_price: 100,
        description:
            "Check whether or not your system is secure for release (No payment required unless there are results)",
        skills: [
            "OWASP",
            "Zero Day Development",
            "Enumeration",
            "Audit",
            "Others",
        ],
    },
    {
        title: "Odoo and ERPs",
        starting_price: 50,
        description:
            "Let's deploy and get you ready some nice tools for your business, like Odoo or any others ERPs (like Zohoo, etc...)",
        skills: ["DevOps", "Linux", "Databases", "Others"],
    },
    {
        title: "Android Development",
        starting_price: 350,
        description:
            "Either you want some cross platform app or some native, you'll have it right away with me",
        skills: ["Android", "Java", "React Native", "Unity", "Others"],
    },
];
---

<section id="services" class="py-20 space-y-6">
    <GlowingHeader>Services</GlowingHeader>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:ml-[-10%] md:w-[120%]">
        {
            services.map((service) => {
                return (
                    <SpotlightCard
                        client:only="react"
                        spotlightColor="rgba(0, 229, 255, 0.2)"
                        className="mx-auto h-[300px] aspect-square flex flex-col justify-between px-auto py-5 cursor-default"
                    >
                        <div class="flex flex-col justify-between h-full gap-3">
                            <GlowingText
                                client:only="react"
                                className="my-auto"
                            >
                                <h2 class="mx-auto text-xl font-bold text-center">
                                    {service.title}
                                </h2>
                            </GlowingText>
                            <span class="text-sm text-gray-500">
                                {service.description}
                            </span>
                        </div>
                        <ul class="flex flex-col justify-center h-full items-center w-full my-5 font-bold text-sm">
                            {service.skills.map((skill) => {
                                return (
                                    <li class="w-full flex justify-between items-center">
                                        <Icon
                                            name="ic:baseline-add-task"
                                            class={"text-green-200"}
                                        />{" "}
                                        {skill}
                                    </li>
                                );
                            })}
                        </ul>
                        <span class="flex justify-end w-full text-sm">
                            From {service.starting_price} USD
                        </span>
                    </SpotlightCard>
                );
            })
        }
    </div>
</section>
