---
import { Image } from "astro:assets";
import python from "../assets/python.svg";
import rust from "../assets/rust.png";
import kali from "../assets/kali.png";
import metasploit from "../assets/metasploit.png";
import tensorflow from "../assets/tensorflow.png";
import react from "../assets/react.svg";
import SpotlightCard from "./react/SpotlightCard";
import GlowingHeader from "./react/GlowingHeader";

const skills: Array<{
    image: ImageMetadata;
    name: string;
}> = [
    {
        image: kali,
        name: "Cybersecurity",
    },
    {
        image: rust,
        name: "Rust",
    },
    {
        image: metasploit,
        name: "Pentesting",
    },
    {
        image: tensorflow,
        name: "Biological Neural Nets",
    },
    {
        image: python,
        name: "Python",
    },
    {
        image: react,
        name: "React TS",
    },
];
---

<section id="core-skills" class="py-20 space-y-6">
    <GlowingHeader>Core Skills</GlowingHeader>

    <ul class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {
            skills.map((skill) => {
                return (
                    <li class="h-[300px] md:h-[275px] mx-auto">
                        <SpotlightCard
                            client:only="react"
                            spotlightColor="rgba(0, 229, 255, 0.2)"
                            className="bg-transparent backdrop-blur-2xl flex aspect-square justify-center items-center flex-col gap-3 h-full cursor-default select-none text-sm uppercase text-center font-bold"
                        >
                            <Image
                                draggable="false"
                                class={"h-20 w-auto select-none"}
                                src={skill.image}
                                alt={skill.name}
                            />
                            {skill.name}
                        </SpotlightCard>
                    </li>
                );
            })
        }
    </ul>
</section>
