---
import { Image } from "astro:assets";
import python from "../assets/python.svg";
import ferris from "../assets/ferris.png";
import kali from "../assets/kali.png";
import metasploit from "../assets/metasploit.png";
import tensorflow from "../assets/tensorflow.png";
import react from "../assets/react.svg";

const skills: Array<{
  image: ImageMetadata;
  name: string;
}> = [
  {
    image: kali,
    name: "Cybersecurity",
  },
  {
    image: ferris,
    name: "Rust",
  },
  {
    image: metasploit,
    name: "Pentesting",
  },
  {
    image: tensorflow,
    name: "Biological Neural Nets",
  },
  {
    image: python,
    name: "Python",
  },
  {
    image: react,
    name: "React TS",
  },
];
---

<section class="py-20 space-y-6">
  <h2 class="text-3xl font-bold text-green-400">Core Skills</h2>
  <ul class="grid grid-cols-2 sm:grid-cols-3 gap-4 text-gray-300">
    {
      skills.map((skill) => {
        return (
          <li class="flex justify-center items-center flex-col hover:bg-gray-500 transition-all py-5 px-0 rounded gap-2">
            <Image
              draggable="false"
              class={"h-20 w-auto select-none"}
              src={skill.image}
              alt={skill.name}
            />
            {skill.name}
          </li>
        );
      })
    }
  </ul>
</section>
